div#ovsz-phonebook-phone-div {
  height: 0px;
}

img.ovsz-phonebook-edit-submit {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}

fieldset.ovsz-phonebook-form {
  position: relative;
  background-color: lightGray;
  z-index: -100;
}